<!DOCTYPE html>
<head>
	<meta charset="UTF-8"/>
	<title>
		{% block title %}
			Welcome!
		{% endblock %}
	</title>
	<link
	rel="icon" href="{{ asset('C:\xampp\htdocs\kenOline\assets\images\logoTchoChoLine.png') }}"/>

	 <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

	 {# BOOTSTRAP CSS #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

	{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
	 {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"> #}
	{# <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">  #}

	{% block stylesheets %}
		{{ encore_entry_link_tags('app') }}
	{% endblock %}
</head>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
	<symbol id="bootstrap" viewbox="0 0 118 94">
		<path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
	</symbol>
	<symbol id="facebook" viewbox="0 0 16 16">
		<path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
	</symbol>
	<symbol id="instagram" viewbox="0 0 16 16">
		<path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
	</symbol>
	<symbol id="twitter" viewbox="0 0 16 16">
		<path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/>
	</symbol>
</svg>
<nav class="navbar navbar-expand-lg navbar-light bg-light rounded" aria-label="Twelfth navbar example">
	<div class="container-fluid">
		<a href="{{ path('home') }}">
			<img id="image_logo" src="{{ asset('build/images/logoTchoChoLine.png') }}" width="150">
		</a>
		{# <h1 id="titre_site">TCHOCHOLINE WAX</h1> #}
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarsExample10">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" href="{{ path('home') }}">
						<i class="fa fa-home" aria-hidden="true"></i>
						Home
						<span class="visually-hidden">(current)</span>
					</a>
					
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('vue_prods') }}">
					<i class="bi bi-shop"></i> Produits
					</a>
				</li>
				{% if is_granted('ROLE_ADMIN') %}

					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_admin') }}">Tableau de bord</a>
					</li>
					
				{% endif %}	

				{% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_customer_show',{'id':app.user.id}) }}"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('order_all') }}"><i class="bi bi-box-seam"></i> Commandes</a>
					</li>
				{% endif %}

				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion ({{app.user.firstName}}
							{{app.user.lastname}})</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_login') }}"><i class="fa fa-user" aria-hidden="true"></i>Connexion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_register') }}"><i class="fa fa-edit" aria-hidden="true"></i>Créer mon compte</a>
					</li>
				{% endif %}


			</ul>
		</div>
	</div>
</nav>
<hr>
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light rounded">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
			<ul class="navbar-nav">
				{% if catSups is defined %}
					{% for catSup in catSups %}

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">{{catSup.name}}</a>
							<ul class="dropdown-menu" aria-labelledby="dropdown10">
								<li>
									{% for category in catSup.categories %}
										<a class="dropdown-item catBtn" href="{{path('app_product_indexByCategory',{'cat':category.id})}}">{{ category.name }}</a>
									{% endfor %}
								</li>
							</ul>
						</li>
					{% endfor %}
				{% endif %}
			</ul>
			<ul class="navbar-nav">
				<li class="nav-link">

					<a class="nav-link" href="{{path('app_blog')}}">Blog</a>
				</li>
			</ul>
		</div>
		<form class="d-flex" method="get" action="{{path('home')}}">
			<input type="search" class="form-control" name="search" placeholder="Recherche..." aria-label="Search">
			<button class="btn btn-warning my-2 my-sm-0" type="submit">
				<i class="bi bi-search"></i>
			</button>
		</form>

		<div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
			<ul class="navbar-nav">
				<li class="nav-item dropdown ">
					<a href="{{ path('app_cart') }}" title="Panier" class="header-cart-link is-small">
						<span class="image-icon header-cart-icon" data-icon-label="2">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-basket3" viewbox="0 0 16 16">
								<path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM3.394 15l-1.48-6h-.97l1.525 6.426a.75.75 0 0 0 .729.574h9.606a.75.75 0 0 0 .73-.574L15.056 9h-.972l-1.479 6h-9.21z"/>
							</svg>
							<sup class="badge badge-pill bg-danger cartTotal">{{ getTotalQty() }}</sup>
						</a>
						<ul class="dropdown-menu dropdown-menu" aria-labelledby="dropdown10">
							{% if items is defined %}
								<div class="container">
									<table class="table">
										<thead>

											<th class="text-center">Photo</th>
											<th class="text-center">Nom</th>
											<th class="text-center">Quantité</th>

										</thead>
										<tbody class="smallCart">
										
											{% for item in items %}

												<li  >
													<tr>
													
														<th class="text-center"><img src="{{ asset('build/images/' ~ item.product.photo) }}" width="40" height="40" alt="...">
														</th>
														<th class="text-center">{{item.product.name}}
														</th>
														<th class="text-center">{{item.quantity}}
														</th>
													</tr>
												</li>

											{% endfor %}
										{% endif %}
									</tbody>


									<th colspan='3'>
										<a href="{{ path('app_cart') }}" class="btn btn-primary" style='float:right'>voir panier</a>
									</th>

								</table>
							</div>

						</ul>
					</li>
				</li>
			</ul>

		</div>

	</div>

</div></nav><hr>

{% block body %}{% endblock %}

{# <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"> #}
</script><!------ Include the above in your HEAD tag ----------><!--footer--><footer class="kilimanjaro_area">

<!-- Top Footer Area Start -->
<div class="foo_top_header_one section_padding_100_70">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 col-lg-3">
				<div class="kilimanjaro_part">
					<h5>A propos de nous</h5>
					<p>A Remplir</p>
					<p>2eme Para</p>
				</div>

				<div class="kilimanjaro_part m-top-15">
					<h5>Liens sociaux</h5>
					<ul class="kilimanjaro_social_links">
						<li>
							<a href="#">
								<i class="fa fa-facebook" aria-hidden="true"></i>
								Facebook</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-twitter" aria-hidden="true"></i>
								Twitter</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-pinterest" aria-hidden="true"></i>
								Pinterest</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-youtube" aria-hidden="true"></i>
								YouTube</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
								Linkedin</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-3">
				<div class="kilimanjaro_part">
					<h5>Liens notre site</h5>
					<ul class=" kilimanjaro_widget">
						<li>
							<a href="#">Classy</a>
						</li>
						<li>
							<a href="#">Blog</a>
						</li>
						<li>
							<a href="#">Creative</a>
						</li>
						<li>
							<a href="#">One Page</a>
						</li>
					</ul>
				</div>

				<div class="kilimanjaro_part m-top-15">
					<h5>Liens Importants</h5>
					<ul class="kilimanjaro_links">
						<li>
							<a href="#">
								<i class="fa fa-angle-right" aria-hidden="true"></i>Terms & Conditions</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-angle-right" aria-hidden="true"></i>About Licences</a>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-3">
				<div class="kilimanjaro_part">
					<h5>Dernières nouvelles</h5>
					<div class="kilimanjaro_blog_area">
						<div class="kilimanjaro_thumb">
							<img class="img-fluid" src="https://3.bp.blogspot.com/--C1wpaf_S4M/W7V__10nRoI/AAAAAAAAK24/1NSfapuYSIY0f0wzXY9NgoH0FjQLT07YACKgBGAs/s1600/maxresdefault.jpg" alt="">

						</div>
						<a href="#">Blog Kenonline</a>
						<p class="kilimanjaro_date">30 Avril 2022</p>
						<p>Lorem ipsum dolor sit amet, consectetur</p>
					</div>				
				</div>
			</div>

			<div class="col-12 col-md-6 col-lg-3">
				<div class="kilimanjaro_part">
					<h5>Contact</h5>
					<div class="kilimanjaro_single_contact_info">
						<h5>Téléphone:</h5>
						<p>+255 255 54 53 52
							<br>
							+255 255 53 52 51</p>
					</div>
					<div class="kilimanjaro_single_contact_info">
						<h5>Adresse mail:</h5>
						<p>support@email.com
							<br>
							company@email.com</p>
					</div>
				</div>
				<div class="kilimanjaro_part">
					<h5>Derniers travaux</h5>
					{# <div class="kilimanjaro_works">
						<a class="kilimanjaro_works_img" href="img/gallery/1.jpg"><img src="img/gallery/1.jpg" alt=""></a>
						<a class="kilimanjaro_works_img" href="img/gallery/4.jpg"><img src="img/gallery/4.jpg" alt=""></a>
						<a class="kilimanjaro_works_img" href="img/gallery/5.jpg"><img src="img/gallery/5.jpg" alt=""></a>
						<a class="kilimanjaro_works_img" href="img/gallery/7.jpg"><img src="img/gallery/7.jpg" alt=""></a>
						<a class="kilimanjaro_works_img" href="img/gallery/10.jpg"><img src="img/gallery/10.jpg" alt=""></a>


						<a href="#" id="uppper_page">
							<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewbox="0 0 16 16">
								<path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
							</svg>
						</a>
						<a class="kilimanjaro_works_img" href="img/gallery/11.jpg"><img src="img/gallery/11.jpg" alt=""></a>
					</div> #}
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Footer Bottom Area Start -->
<div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
	<div class="container">
		<div class="row">
			<div class="col-6">

				<p>Copyright ©2022 All Rights Reserved by
					<a href="#">LA B.A.C
					</a>
				</p>
			</div>
			<div class="col-6">
				<td class="payments">
					<i class="fa fa-cc-visa"></i>
					<i class="fa fa-cc-mastercard"></i>
					<i class="fa fa-cc-amex"></i>
					<i class="fa fa-cc-paypal"></i>
				</td>
			</div>
		</div>
	</div>
</div>
 {# <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</footer> #}

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}

	 