{{ form_start(form) }}
{{ form_widget(form) }}

{{% for image in product.images %}}

{% if app.request.attributes.get('_route') == 'app_product_edit' %}
	<div>
		<h2>Vous pouvez charger une nouvelle photo si vous souhaitez la changer</h2>
		<img src="{{asset('build/images/'~ product.photo)}}" alt="Image" width="150">
	<a href="{{ path('prod_delete_image', {id: image.id}) }}" 
	 data-delete data-token="{{ csrf_token('delete' ~ product.photo) }}">Supprimer</a>

	</div>
	 {% endfor %} 

{% endif %}


<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
