{% extends 'base.html.twig' %}
{% block title %}Liste des produits
{% endblock %}
{% block body %}
	{# <h1>Liste des Produits</h1> #}
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">{{ message }}</div>
	{% endfor %}

	{# <div class="container"> #}

	{# <br> #}
		<main>


		{# <div class="row row-cols-1 row-cols-md-4 g-4"> #}
			<div class="container-fluid bg-trasparent my-4 p-3" style="position: relative;"> <nav class="navbar navbar-expand-lg navbar-dark ">

				<div class="dropdown">
					<button class="btn-lg dropdown-toggle" type="input" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
						Trier par prix
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
						<form class="d-flex" action="{{path('app_sort')}}" method="get">
							<li>
								<button class="dropdown-item" href="{{path('app_sort')}}" name="answer" value="croissant">Prix Croissant</button>
								<button class="dropdown-item" href="{{path('app_sort')}}" name="answer" value="décroissant">Prix Décroissant</button>
							</li>
						</form>
					</ul>
				</div>
			</nav>
			<div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
				{% for product in products %}
					<div class="col">
						<div class="card h-100 shadow-sm">
							<img src="{{ asset('build/images/' ~ product.photo) }}" class="card-img-top" alt="...">

							<div class="card-body">
								<div class="clearfix mb-3">
									<span class="float-start badge rounded-pill bg-primary">{{product.name}}</span>
									<span class="float-end price-hp">
										{{product.price}}€</span>
								</div>
								<h5 class="card-title">{{product.description|u.truncate(60,' ...',false)}}</5>
							</div>

							{% if is_granted('ROLE_ADMIN') %}
								<a class="btn btn-warning" href="{{path('app_product_edit',{'id': product.id}) }}" class="card-link">Modifier</a>
								<a class="btn btn-danger" href="{{path('app_product_delete',{'id': product.id})}}" class="card-link">supprimer</a>
							{% else %}
								<div class="text-center my-4">
									<a class="btn btn-success" href="{{ path('app_products_show',{'id':product.id}) }}">Voir le produit</a>
									<a class="btn btn-primary cartLogo" href="{{ path('cart_add',{'id':product.id}) }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart4" viewbox="0 0 16 16">
											<path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
										</svg>
									</a>

								</div>
							{% endif %}
						</div>
					</div>
				{% else %}

					<h1>Aucun résultat trouvé</h1>

				{% endfor %}
			</div>
		</div>
	</main>
	{# </table> #}
{# <a class="btn btn-primary" href="#">Création d'un nouveau livre</a> #}
	{# </div> #}

{% endblock %}

{% block javascripts %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>

let cartLogo = document.querySelectorAll('.cartLogo');
let smallCart = document.querySelector('.smallCart');

for (let index = 0; index < cartLogo.length; index++){
	let cartTotal = document.querySelector('.cartTotal');

	cartLogo[index].addEventListener('click', (event) => {
		event.preventDefault();

		axios.get(cartLogo[index].href).then(function (response){
			//console.log(response.data[0][0])
			cartTotal.innerHTML = response.data[2];
			smallCart.innerHTML =""
									for (let index = 0; index < response.data[0].length; index++){
								smallCart.innerHTML +='<li>'

										+'<tr>'
										+'<th class="text-center"><img src="/imagesJs/' + response.data[0][index].product.photo+'" width="40" height="40" alt="...">'
										+'</th>'
											+'<th class="text-center">'
											+response.data[0][index].product.name
											+'</th>'
											+'<th class="text-center">'
											+response.data[0][index].quantity
											+'</th>'
										+'</tr>'
									+'</li>'
									}
			
		})
	})
}
</script>	
{% endblock %}
