{% extends 'dashboardbase.html.twig' %}

{% block title %}Article Blog
{% endblock %}

{% block body %}
	<h1>Article Blog</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ article_blog.id }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ article_blog.title }}</td>
			</tr>
			<tr>
				<th>Contenu</th>
				<td>{{ article_blog.content }}</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-secondary" href="{{ path('app_article_blog_index') }}">Retour</a>

	<a class="btn btn-warning" href="{{ path('app_article_blog_edit', {'id': article_blog.id}) }}">Modifier</a>

	{{ include('article_blog/_delete_form.html.twig') }}
{% endblock %}
