{% extends 'dashboardbase.html.twig' %}

{% block title %}Order index
{% endblock %}

{% block body %}
<h1>Liste des commandes</h1>
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th class="text-center">Référence commande</th>
				<th class="text-center">Total</th>
				<th class="text-center">Date/heure de la commande</th>
				<th class="text-center">Nom du client</th>
				<th class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
				<tr>
					<td class="text-center">{{ order.refOrder }}</td>
					<td class="text-center">{{ order.amount }}€</td>
					<td class="text-center">{{ order.orderDate ? order.orderDate|date('d-m-Y / H:i') : '' }}</td>
					<td class="text-center">
						{% if order.user.firstname is defined %}

							{{order.user.firstname}}
							{{order.user.lastname}}
						{% endif %}
					</td>
					<td class="text-center">
						<a href="{{ path('detail_order_all', {'order': order.id}) }}" class="btn btn-success">Voir détail</a>
					</td>
				</tr>
			</td>
		</tbody>
	</tr>
{% else %}
	<tr>
		<td colspan="5">Aucun résultat trouvé</td>
	</tr>
</table></div>{% endfor %}{# </tbody></table><a href="{{ path('app_order_new') }}">Create new</a> #}{% endblock %}
