{% extends 'dashboardbase.html.twig' %}

{% block title %}Modifier ArticleBlog
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
	<h1>Modifier Article Blog</h1>

	{{ include('article_blog/_form.html.twig', {'button_label': 'Update'}) }}

	<a class="btn btn-secondary" href="{{ path('app_article_blog_index') }}">Retour à la liste</a>

	{{ include('article_blog/_delete_form.html.twig') }}
{% endblock %}

{# {% block javascripts %}
    <script src="{{asset('js/images.js')}}"></script>

{% endblock %} #}
