{% extends 'base.html.twig' %}

{% block title %}S'enregistrer
{% endblock %}

{% block body %}


	<html lang="en">

		<body>
			<div class="container">

				<div class="row g-5">
					<div class="col-md-8">
						<h3 class="pb-4 mb-4 fst-italic border-bottom">
							S'enregistrer

						</h3>

						<article class="blog-post">
							<div class="container">
								{{ form_start(registrationForm) }}
								{{ form_row(registrationForm.gender) }}
								{{ form_row(registrationForm.email) }}
								{{ form_row(registrationForm.lastname) }}
								{{ form_row(registrationForm.firstname) }}
								{{ form_row(registrationForm.adress) }}
								{{ form_row(registrationForm.postcode) }}
								{{ form_row(registrationForm.city) }}
								{{ form_row(registrationForm.phone) }}
								{{ form_row(registrationForm.plainPassword) }}
								{{ form_row(registrationForm.agreeTerms) }}

								<button type="submit" class="btn btn-primary">Valider</button>
								{{ form_end(registrationForm) }}
							</div>
						</article>

					</div>
					<div class="col-md-4">
						<div class="position-sticky" style="top: 2rem;">
							<div class="p-4 mb-3 bg-light rounded">
								<h4 class="fst-italic">About</h4>
								<p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
							</div>
							<div class="p-4">
								<h4 class="fst-italic">Archives</h4>
								<ol class="list-unstyled mb-0">
									<li>
										<a href="#">March 2021</a>
									</li>
									<li>
										<a href="#">February 2021</a>
									</li>
									<li>
										<a href="#">January 2021</a>
									</li>
									<li>
										<a href="#">December 2020</a>
									</li>
									<li>
										<a href="#">November 2020</a>
									</li>
									<li>
										<a href="#">October 2020</a>
									</li>
									<li>
										<a href="#">September 2020</a>
									</li>
									<li>
										<a href="#">August 2020</a>
									</li>
									<li>
										<a href="#">July 2020</a>
									</li>
									<li>
										<a href="#">June 2020</a>
									</li>
									<li>
										<a href="#">May 2020</a>
									</li>
									<li>
										<a href="#">April 2020</a>
									</li>
								</ol>
							</div>
							<div class="p-4">
								<h4 class="fst-italic">Elsewhere</h4>
								<ol class="list-unstyled">
									<li>
										<a href="#">GitHub</a>
									</li>
									<li>
										<a href="#">Twitter</a>
									</li>
									<li>
										<a href="#">Facebook</a>
									</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>

		</body>
	</html>
{% endblock %}
